@import url('normalize.css');

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
}
.header {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    background-color: #E9ECEE;
}

.container-imgLogo {
    margin: 0 auto;
    height: 250px;
    max-width: 90%;
}

.imgLogo {
    display: block;
    height: 100%;
    max-width: 100%;
}

.main-menu {
    display: flex;
    width: 33.333%;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 3px solid #fe9900;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

fieldset {
    padding: 3px;
}